[package]
name = "grabngo"
version = "0.1.0"
edition = "2021"

[dependencies]
walkdir = "2.3"
chrono = "0.4"

[profile.release]
lto = true
panic = "abort"
strip = true

[[bin]]
name = "grabngo"
path = "src/grabngo.rs"
