name: Build and Artifact

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Rust
      uses: dtolnay/rust-toolchain@stable

    - name: Run tests
      run: |
        cd Wifi
        cargo test

    - name: Build release binary
      run: |
        cd Wifi
        cargo build --release

    - name: Upload Binary Artifact
      uses: actions/upload-artifact@v4
      with:
        name: Wifi-Windows-Binary-${{ github.run_number }}-${{ github.run_attempt }}
        path: Wifi/target/release/wifi.exe
        if-no-files-found: error
        retention-days: 30
