name: Build and Artifact

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Rust
      uses: dtolnay/rust-toolchain@stable

    - name: Build release binary
      run: |
        cd GrabNGo
        cargo build --release

    - name: Upload Binary Artifact
      uses: actions/upload-artifact@v4
      with:
        name: GrabNGo-Windows-Binary
        path: GrabNGo/target/release/grabngo.exe
        retention-days: 5 
